@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Open+Sans:wght@300&display=swap');

h1 {
    font-family: 'Kdam Thmor Pro', sans-serif;
}

body {
    background-color: #2b2d30;
    color: aliceblue;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

em {
    color: red;
}

strong {
    color: rgb(153, 204, 77);
}

.font-habilidades {
    font-size: 18px;
}

.foto-perfil {
    border-radius: 50%;
}