@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Open+Sans:wght@300&display=swap');

h1 {
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.font-text {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #2b2d30;
    color: aliceblue;
}

em {
    color: red;
}

strong {
    color: rgb(153, 204, 77);
}

.comprometimento {
    font-size: 22px;
}

.organizacao {
    font-size: 20px;
}

.empatia {
    font-size: 18px;
}
